useDynLib(BUDS, .registration = TRUE)
importFrom(Rcpp, sourceCpp)

export(binary_BUDS)
export(tte_BUDS)
export(opchar_binary_BUDS)
export(opchar_tte_BUDS)
export(table_design_rules)
export(table_design_inputs)
export(table_design_opchar)
export(plot_type_I_error)
export(export_design_html)

S3method(print, binary_BUDS)
S3method(summary, binary_BUDS)
S3method(print, binary_BUDS_summary)
S3method(print, tte_BUDS)
S3method(summary, tte_BUDS)
S3method(print, tte_BUDS_summary)
S3method(print, opchar)
S3method(summary, opchar)
S3method(print, opchar_summary)

importFrom(stats, dbinom, pbinom, qnorm)
